
 /* GLOBAL */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

html, body{
	margin: 0 auto;
	max-width: 1280px;
}


/* HEADER */

header{
	font-family: "Oswald";
}

.navbar{
	margin: 0 auto;
    width: 900px;
}

.flex {
	align-items: center;
	display: flex;
	flex-direction:row;
	height: 100px;
}

.order-1{
	order:1;
}

.order-2{
	order:2;
}

.order-3{
	order:3;
}

.order-4{
	order:4;
}

.order-5{
	order:5;
}

.navbar li{
	font-size: 2em;
    list-style: outside none none;
    width: 5em;
}

.navbar li a{
	color: #333;
	font-weight: 300;
	text-decoration: none;
}

.brand{
	background: #e35175;
}

li.brand a{
	color:#fff;
	font-weight: 700;
}

li{
	text-align: center;
}

/* Slide Hightlight */

.highlight {
    background: url("casa2.jpg") no-repeat scroll 0 80% lightblue;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.highlight .caption{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFF;
    float: right;
    height: 400px;
    margin: 50px;
    width: 300px;
    padding: 0 20px;
}

.caption p {
    font-weight: 300;
}